:root {
  --ifm-color-primary: #b86eab;
  --ifm-color-secondary: #291c2b;
  --ifm-color-accent: #00bcd4;

  --ifm-color-success: #2fdf84;
  --ifm-color-danger: #d67642;
  --ifm-color-info: #31ccec;
  --ifm-color-warning: #ffa726;

  --dark-1: #0f0f12;
  --dark-2: #16151a;
  --dark-3: darken(--dark-2, 5.7%);

  --almost-white-1: #f4f4f4;
  --almost-white-2: darken(--almost-white-1, 10%);
  --almost-white-3: darken(--almost-white-1, 25%);

  --border-radius-sm: 2px;
  --border-radius-md: --border-radius-sm * 2;
  --border-radius-lg: --border-radius-md * 2;
  --border-radius-xl: --border-radius-lg * 3;
  --border-radius-max: 9999px;
  --border-radius-circle: 50%;
}

/* Theme-related settings */

[data-theme='light'] {
  .main-wrapper {
    background-color: var(--almost-white-2);
  }

  .navbar {
    background-color: var(--almost-white-1);
  }
}

[data-theme='dark'] {
  .main-wrapper {
    background-color: var(--dark-2);
  }

  .navbar {
    background-color: var(--dark-1);
  }
}
